@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html, body{
	margin: 0;
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
	letter-spacing: .4px;
}
.row{
	display: flex;
	flex-direction: row;
	align-items: center;
}