@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root{
	--primaryColor: #fff;
	--primaryBgColor: #fff;
	--defaultText: #202222;
	--secondaryText: #586069;
	--placeholderText: #6a737d;
	--disabledText: #959da5;
}
html, body{
	margin: 0;
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
	letter-spacing: .4px;
}
.row{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.trueCenter{
	position: relative;
	/* min-height: 100%; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.hidden{
	max-height: 0px;
	max-width: 0px;
	margin: 0px !important;
	padding: 0px !important;
	opacity: 0;
	overflow: hidden;
}