@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
	--primary-txt-color: #fff;
	--primary-bg-color: #10b981;
	--primary-bg-hover-color: #059669;
	--defaultText: #202222;
	--secondaryText: #586069;
	--placeholderText: #6a737d;
	--disabledText: #959da5;

	--headerHeight: 60px;
}
html,
body {
	margin: 0;
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
	letter-spacing: 0.4px;
}
body,
body > div {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	flex-grow: 1;
}
.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.trueCenter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	position: relative;
	height: 100%;
	width: 100%;
	text-align: center;
}

.hidden {
	max-height: 0px;
	max-width: 0px;
	margin: 0px !important;
	padding: 0px !important;
	opacity: 0;
	overflow: hidden;
}
