@import url('main.css');
:root{
	--incomingBgColor: #f2f2f2;
	--incomingColor: var(--defaultText);
	--outgoingBgColor: #ecf3fe;
	--outgoingColor: var(--defaultText);
}
:root.dark{
	--incomingBgColor: #303030;
	--outgoingBgColor: #7cacf8;
	--outgoingColor: var(--primaryBackground);
}

/* CONSIDER MOVING TO /main.css */
header #backButton{
	left: -10px;
	height: 22px;
	width: 22px;
	padding: 8px;
	border-radius: 50%;
	overflow: hidden;
	fill: var(--defaultText);
}
header #chatTitle{
	position: relative;
}

main{
	padding: calc(var(--edgePadding)/2) calc(var(--edgePadding)*1.25);
}
section:first-of-type{
	min-height: calc(100vh - 70px);
}

/* message design */
#chat > .container > :last-child{
	margin-bottom: 30px;
}
.msgContainer{
	display: inline-block;
	width: 100%;
}
.msgContainer{
	margin-top: 2px;
}
.msgContainer:first-child{
	margin-top: 24px;
}
.msg{
	display: inline-block;
	padding: 10px 12px;
	box-shadow: -1px 2px 10px 2px var(--lightShadow);
	z-index: 1;
	user-select: none;
}
/* changes incoming msg's corners */
.incoming .msgContainer .msg{
	background: var(--incomingBgColor);
	color: var(--incomingColor);
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.incoming .msgContainer:first-child .msg{
	border-top-left-radius: 20px;
}
.incoming .msgContainer:last-child .msg{
	border-bottom-left-radius: 20px;
}
/* changes outgoing msg's corners */
.outgoing .msgContainer{
	margin-top: -2px;
}
.outgoing .msgContainer .msg{
	background: var(--outgoingBgColor);
	color: var(--outgoingColor);
	float: right;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.outgoing .msgContainer:first-child .msg{
	border-top-right-radius: 20px;
}
.outgoing .msgContainer:last-child .msg{
	border-bottom-right-radius: 20px;
}



/* form (new message) design */
#newMsg{
	position: fixed;
	bottom: 0px;
	height: 40px;
	width: 100%;
	padding: 15px 0;
	z-index: 10;
	background: var(--background);/* fade top 5px to transparent */
}
input#options{
	/* border: none;
	height: 28px;
	width: 28px;
	float: left;
	background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='rgb(120, 120, 120)'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z'/></svg>") no-repeat;
	background-size: cover;
	cursor: pointer; */

	display: none;
}
#sending{
	height: 40px;
	width: 90%;
	max-width: 700px;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 5px 10px;
	background: var(--primaryBackground);
	border: 1px solid var(--hover);
	/* background: white;
	border: 1px solid #f0f0f0; */
	border-radius: 18px;
	box-shadow: var(--lightShadow);
}
input[type=text]{
	background: transparent;
	border: none;
	outline: none;
	height: 100%;
	padding: 0px 0px 0px 6px;
	font-size: 1.125rem;
	width: calc(100% - 40px);
	color: var(--defaultText);
}
input[type=text]::placeholder{
	color: var(--disabledText);
}
input#send{
	border: none;
	height: 28px;
	width: 28px;
	float: right;
	/* margin: 0 10px; */
	background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='rgb(143 163 173)'><path d='M2.01 21L23 12 2.01 3 2 10l15 2-15 2z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat;
	background-size: cover;
	cursor: pointer;
}