## All requets in folder get directed to './router.php' 

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !(.*)
RewriteRule .*\.php$ router.php [L]
RewriteRule (.*) router.php [QSA,L]

## Alternate default index page
DirectoryIndex router.php